@page
@model WebAppOOP.WebAppUI.Pages.Profile.OrderDetailsModel
@{
}

<div>
    <h4 class="mb-3">Order Details</h4>
    <hr class="mb-4">
    @foreach (var product in @Model.Order.ShoppingCart.GetList())
    {
        <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
            <div class="mr-1"><img class="rounded" src="@product.IMGUrl" width="70"></div>
            <div class="d-flex flex-column align-items-center product-details">
                <span>@product.Name</span>
                <div class="d-flex flex-row product-desc">
                </div>
            </div>
            <div class="d-flex flex-row align-items-center">
                <span>Qty: @product.Quantity</span>
            </div>
            <div>
                <span>@product.GetTotalCostToString()</span>
            </div>
        </div>
    }
    <div class="btn-group">
        <a class="btn btn-primary" asp-page="./Orders">Back</a>     
    </div>
</div>

